# Site Settings
title: Queering Reproduction
tagline: Queering Reproduction
email: EmmettLeddin@my.unt.edu
description: >
  The website for QueeringReproduction about reproductive health for transgender and non-binary individuals
baseurl: ""
url: "https://queeringreproduction.com"
permalink: pretty
favicon: img/favicon.png
#gh_sponsor: chrisrhymes
#hide_share_buttons: true

paginate: 5
paginate_path: "blog/page:num"

# Disqus Comments
disqus:
  # Leave shortname blank to disable comments site-wide.
  # Disable comments for any post by adding `comments: false` to that post's YAML Front Matter.
  # shortname: my_disqus_shortname
  shortname:


plugins:
  - jekyll-sitemap
  - jekyll-paginate
  - jekyll-feed
  - jekyll-seo-tag
  - kramdown
  - rouge

exclude:
  - Gemfile
  - clean-theme.gemspec
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - CONTRIBUTING.md

livereload: true

sass:
  style: compressed
  source_dir: _sass

#google_analytics: UA-code-here

defaults:
  -
    scope:
      path: ""
      type: "pages"
    values:
      show_sidebar: true
  -
    scope:
      path: ""
      type: "posts"
    values:
      author: "E. M. Leddin"
      layout: post
      image: https://via.placeholder.com/1200x800
      show_sidebar: true

markdown: kramdown
highlighter: rouge

footer_menu: example_footer_menu

collections:
  modules:
    output: true
    layout: module
    image: https://via.placeholder.com/800x600
    show_sidebar: false
  pages:
    output: true
    layout: page
    show_sidebar: false

## Unique
copyright_year: 2021
